* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background-color: #EEC373;
}


.headerText {
    color: #000;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
}

.portfolioTitle {
    font-family: norican;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-right: 280px;

}

.center {
    display: flex;
    align-items: center;
}

.nameTitle {
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

.leftAlign {
    text-align: left;
}

.about {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #F4DFBA;
}

.imgContainer {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idImg {
    height: 50vh;
}

.aboutMeTextContainer {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeText {
    padding-left: 160px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutMeTitle {
    font-family: norican;
    width: 100%;
}

.work {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #EEC373;
}

.contact {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #F4DFBA;
}