* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {

    background-color: #EEC373;
}


.headerText {
    color: #000;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
}

.portfolioTitle {
    font-family: norican;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-right: 280px;
}

.center {
    display: flex;
    align-items: center;
}

.nameTitle {
    font-family: big shoulders text;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.leftAlign {
    text-align: left;
}

.about {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #F4DFBA;
}

.imgContainer {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idImg {
    height: 50vh;
}

.aboutMeTextContainer {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeText {
    padding-left: 160px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutMeTitle {
    font-family: norican;
    width: 100%;
}

.workTitle {
    font-family: norican;
    position: absolute;
    padding-bottom: 650px;
    padding-top: 10%;
    align-self: flex-start;
    color: #F4DFBA;
}

.triangleUp {
    align-self: flex-start;
    justify-self: center;
    position: absolute;
    padding-top: 20px;
    z-index: 10;
}

.triangleDown {
    padding-top: 20px;
    z-index: 10;
    transform: rotate(180deg);
}

.work {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1818;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    border-width: 5px;
    border-color: beige;
    margin: 20px;
    height: 40vh;
    width: 20vw;
    background-color: #F4DFBA;
    text-align: center;
    font-family: poppins;
}

.card:hover {
    margin-top: -3%;
}

.cardImg {
    border-radius: 10px;
}

.contact {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #F4DFBA;
}